/* You can add global styles to this file, and also import other style files */
.container {
    margin-top: 75px;
}

div {
    padding-top: 5px;/*
    border-color: red;
    border-width: 2px;
    border-style: solid;
*/
}