<div class="container">
  <div class="row justify-content-center">
      <div class="list-group">        
            
    </div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Tournament Name</th>
          </tr>
        </thead>
        <tbody>
            <button (click)="view(tournament)" type="button" class="list-group-item list-group-item-action" *ngFor="let tournament of tournaments">
                {{tournament['tournamentname']}}
              </button>  
        </tbody>
      </table>
  </div>
  <div style="margin-top: 2.5%">
    <button (click)="create()" type="button" class="btn btn-primary">Create</button>
  </div>  
</div>  