<div class="container">
  <form #matchForm="ngForm">
    <div class="row justify-content-center">
      <div id="inputs" class="col-md-auto">
        <input #nMatch type="text" class="form-control" placeholder="MatchID" name="match" [(ngModel)]="match" required>
      </div>
    </div>
    <div class="row justify-content-center">
      <div id="inputs" class="col-md-auto">
        <button [disabled]="matchForm.form.invalid" (click)="joinMatch(nMatch.value)" type="button" class="btn btn-primary">Join Match</button>
      </div>
      <div id="inputs" class="col-md-auto">
        <button (click)="back()" type="button" class="btn btn-primary">Back</button>
      </div>
    </div>
  </form>
</div>