<div class="container">
  <div class="row justify-content-center">
    <p>
      Enter your decks below and hit "Add" to
      <br> add them to your deck. Once all decks are
      <br> entered, proceed to Validation.
    </p>
  </div>
  <div class="row justify-content-center">
    <div id="inputs" class="col-md-auto">
      <input id="deckName" #newDeck newDeck.value=''  type="text" class="form-control"
        placeholder="Deck Name">
    </div>
    <div id="inputs" class="col-md-auto">
      <input id="deckCode" #newDeckCode type="text" class="form-control" placeholder="Deck Code">
    </div>
  </div>
  <div class="row justify-content-center">
    <div id="inputs" class="col-md-auto">
      <button (click)="addDeck(newDeck.value)" type="button" class="btn btn-primary">Add</button>
    </div>
    <div id="inputs" class="col-md-auto">
      <button type="button" class="btn btn-primary" (click)="validate()" >Go to Validation</button>
    </div>
  </div>
  <div class="row justify-content-center">
    <p>{{email}}</p>
    <ul>
      <li *ngFor="let deck of decks">{{deck}}</li>
    </ul>
  </div>
</div>