<div class="container">
  <form #deckForm="ngForm">
    <div class="row justify-content-center">
      <p>
        Enter your decks below and
        <br>hit "Add" to add them to your deck. Once all decks are
        <br>entered, proceed to Validation.
      </p>
    </div>
    <div class="row justify-content-center">
      <div id="inputs" class="col-md-auto">
        <input #newDeck type="text" class="form-control" placeholder="Deck Name" name="nDeckName" [(ngModel)]="nDeckName" required>
      </div>
      <div id="inputs" class="col-md-auto">
        <input #newDeckCode type="text" class="form-control" placeholder="Deck Code" name="nDeckCode" [(ngModel)]="nDeckCode" required>
      </div>
    </div>
    <div class="row justify-content-center">
      <div id="inputs" class="col-md-auto">
        <button [disabled]="deckForm.form.invalid" (click)="addDeck(newDeck.value, newDeckCode.value)"  >Add</button>
      </div>
      <div id="inputs" class="col-md-auto">
          <button (click)="back()" type="button" class="btn btn-primary">Back</button>
        </div>
    </div>
    <div class="row justify-content-center">
      <ul>
        <li *ngFor="let deck of decks">{{deck}}     <button type="button" (click)="deleteDeck(deck)" class="btn btn-danger">X</button></li>
      </ul>
    </div>
  </form>
</div>