<form #tournamentForm="ngForm">
  <div id="inputs" class="form-group">
    <label for="tournamentName">Tournament Name:</label>
    <input [(ngModel)]="nTourName" name="name" type="input" class="form-control" id="tournamentName" placeholder="Name" required>
  </div>
  <div id="inputs" class="form-group">
    <label for="exampleFormControlTextarea1">Number of Decks/Player</label>
    <textarea [(ngModel)]="numPlayers" name="players" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter the number of decks each user must submit to enter tournament"required  ></textarea>
  </div>
  <button [disabled]="tournamentForm.form.invalid" (click)="create()" type="submit" class="btn btn-primary mb-2">Create</button>
  <button (click)="cancel()" type="button" class="btn btn-danger mb-2">Cancel</button>

</form>